<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meetu.community.mapper.ActivityMapper">
	<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！ -->
	<resultMap id="BaseResultMap" type="com.meetu.community.domain.Activity">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="cover" property="cover" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="index_ac" property="index" jdbcType="INTEGER" />
		<result column="create_at" property="createAt" jdbcType="DATE" />
	</resultMap>
	<!-- 查询记录 -->
	<select id="selectActivityByType" parameterType="int" resultMap="BaseResultMap">
		select * from iu_community_activity where type = #{type} order by index_ac desc
	</select>
	<select id="selectActivityList"  resultMap="BaseResultMap">
		select * from iu_community_activity order by type desc ,index_ac desc
	</select>
	<update id="updateActivity" parameterType="com.meetu.community.domain.Activity">
		update iu_community_activity
		<set>
			<if test="type != null">
				type = #{type},
			</if>
			<if test="cover != null">
				cover = #{cover},
			</if>
			<if test="url != null">
				url = #{url},
			</if>
			<if test="title != null">
				title = #{title},
			</if>
			<if test="index != null">
				index_ac = #{index},
			</if>
			<if test="createAt != null">
				create_at = #{createAt}
			</if>
		</set>
		where id=#{id}
	</update>
	
	<delete id="deleteActivity" parameterType="Integer">
		delete from iu_community_activity where id = #{id}
	</delete>


	<insert id="insertActivity" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.meetu.community.domain.Activity">
		insert into iu_community_activity
		(type,cover,url,title,index_ac,create_at)
		values
		(#{type},#{cover},#{url},#{title},#{index},#{createAt})
	</insert>


</mapper>